  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a href="/"><i class="fas fa-vihara"></i> HOME</a>
    <a href="/courses"><i class="fas fa-golf-ball"></i> COURSES</a>
    <a href="/profiles"><i class="fas fa-user-circle"></i></i> GOLFERS</a>
    <% if (user) { %>
    <a href="/auth/logout">
      <button type="submit">Logout</button>
    </a>
    <% } else { %>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
    <% } %>
  </nav>
