<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= course.courseName%></h1>
    <h2>Rounds played by fellow Scourse Card users:</h2>
    <table>
      <thead>
        <tr>
          <th>Golfer</th>
          <th>Score</th>
          <th>Price</th>
        </tr>
      </thead>
    </table>
</main>

<%- include('../partials/footer') %>