<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= course.courseName%></h1>
</main>

<%- include('../partials/footer') %>