<%- include('./partials/html-head') %>
<link rel="stylesheet" href="stylesheet/style.css">
<%- include('./partials/nav') %>

<body id="main-index-body">
  <main>
    
    <h1 class="welcome-main">Welcome to Scourse Card!</h1>
    <img src="https://media.giphy.com/media/D7TX724G0Fx7mw09Lr/giphy.gif">
    <h1><%= user ? user.profile.name : "" %></h1>
    <% if (user?.profile.avatar) { %>
    <% } %>
    <section>
      <h2 id="intro-message">Welcome to Scourse Card! Here you can keep track of your golf progress, review your favorite golf courses, and compare your recent golf rounds with your friends and fellow golfers!</h2>
    </section>
  </main>
</body>
<%- include('./partials/footer') %>
