<%- include('./partials/html-head') %>
<link rel="stylesheet" href="stylesheet/style.css">
<%- include('./partials/nav') %>

<main>
  <h1><%= user ? user.profile.name : "" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
    </div>
  <% } %>
  <h1>Welcome to Scourse Card!</h1>
  <img src="https://media.giphy.com/media/D7TX724G0Fx7mw09Lr/giphy.gif">
  <section>
    <h2>Welcome to Scourse Card! Here you can keep
    track of your favorite golf courses while 
    competing with your friends and fellow golfers through your best golf scores!</h2>
  </section>
</main>

<%- include('./partials/footer') %>
