<%- include('./partials/html-head') %>
<link rel="stylesheet" href="../public/stylesheets/style2.css~">
<%- include('./partials/nav') %>

<body id="main-index-body">
  <main id="front-page">
    <h1 id="welcome-main-message">Welcome to Scourse Card!</h1>
    <img id="golf_cart" src="https://media.giphy.com/media/D7TX724G0Fx7mw09Lr/giphy.gif">
    <h1><%= user ? user.profile.name : "" %></h1>
    <% if (user?.profile.avatar) { %>
    <% } %>
    <section id="intro-message">
      <h2>Welcome to <strong>SCOURSE CARD</strong>! Here you can keep track of your golf progress, review your favorite golf courses, and compare your recent golf rounds with your friends and fellow golfers!</h2>
    </section>
  </main>
</body>
<%- include('./partials/footer') %>
