html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: rgba(249, 249, 13, .15);
  color: rgb(4, 82, 4);
  font-family: 'Poppins', sans-serif;
  font-size: 1.9rem;
  margin: 0;
}

#main-index-body {
  background-image: url(https://i.imgur.com/aXFHIfb.jpg?2);
  background-repeat: no-repeat;
  background-size: 100%;
}

nav {
  
  background-color: rgba(183,207,156,255);
  border: 2px solid rgb(4, 82, 4);
  font-family: 'Poppins';
  height: 78px;
  font-size: 1.9rem;
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  position: fixed;
  width: 100%;
  
}

.welcome-main {
  color: rgb(255, 249, 242);
  font-size: 5.2rem;
  padding-top: 100px;
  padding-bottom: 550px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.9rem;
  margin-top: 100px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li {
  font-size: 2.1rem;
}

ul {
  display: inline;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
form {
  display: inline;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

#intro-message {
  width: 820px;
  text-align: center;
  display: flex;
}

#course-index-info {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: right;
  flex-direction: row;
  right: 170px;
}

.course-info {
  position: relative;
  bottom: 26px;
  left: 130px;
  display: inline;
}

#review-id {
  background-color: whitesmoke;
  height: 100px;
  width: 500px;
  border: 4px solid rgb(4, 82, 4);
}

.profile-show-main {
  padding-top: 100px;
}

.profile-golf-rounds {
  margin: auto 10px 10px 10px 10px;
  display: flex;
  align-self: start;
  justify-content: center;
  align-content: center;
  width: 1000px;
}

#profile-show-img {
  border-radius: 30px;
  border: 2px solid rgb(4, 82, 4);
}

#logo-2 {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
}

#rights {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .welcome-main {
    color: green;
    font-size: 22px;
    text-align: center;
    width: 375px;
    margin-bottom: -90%;
  }

  nav {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
  }

  #main-index-body {
    background-image: url(https://i.imgur.com/aXFHIfb.jpg?2);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 200px;
  }
  #intro-message {
    width: 345px;
    text-align: center;
    display: flex;
    font-size: 28px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #golf_cart {
    width: 375px;
  }

  #logo-2 {
    width: 375px;
  }

  #golf_courses {
    display: flex;
    flex-direction: column;
    width: 275px;
  }
  #course-index-info {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    right: -4px;
  }

  .course-info {
    padding-top: 25px;
    padding-right: 100px;
  }

  #course_form {
    margin-left: 30px;
    padding: 5px;
    align-content: center;
  }

}