html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: rgba(249, 249, 13, .15);
  color: rgb(4, 82, 4);
  font-family: 'Poppins', sans-serif;
  font-size: 1.9rem;
  margin: 0;
  margin-top: 10%;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

li {
  list-style-type: none;
}

/* Below is styling for the front page except */

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

#main-index-body {
  background-image: url(../images/golfcourse.jpg);
  width: 100%;
  height: 100px;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 15s linear infinite alternate;
}

#front-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#welcome-main-message {
  color: rgb(255, 249, 242);
  font-size: 7.2rem;
  padding-top: 100px;
  padding-bottom: 550px;
}

#intro-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
}

#golf_cart {
  border-radius: 20px;
  border: 5px solid green;
}

strong {
  font-size: 3.5rem;
}

/* Styling for home page above */

/* Styling for footer below */

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling for footer above */

/* styling for course index page */

.golf-main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 50vh;
  margin: 2%;
}

/* styling for course index page above */

/* styling for course show page */

.course-show-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: 5% 0 10% 55%;
}

#course-img {
  width: 40%;
  height: 50%;
  margin-left: -40%;
  position: fixed;
  margin-top: -5%;
  border: 3px solid darkgreen;
}

#review-id {
  background-color: aliceblue;
  border: 2px solid darkgray;
}

#add-review-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

/* Nav bar style below */

nav {
  
  background-color: rgba(183,207,156,255);
  border: 2px solid rgb(4, 82, 4);
  font-family: 'Poppins';
  height: 78px;
  font-size: 1.9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  margin-top: -10%;
}

#nav-logged-in {
  margin-right: -13%;
}

/* Stying for nav bar above */

/* styling for golfers index page below */

#profile-index-main {
  padding-top: 5%;
}

.profile-container {
  display: grid;
  grid-template-columns: 30.3% 33.3% 33.3%;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
}

/* stylling for golfers index page above */

/* styling for golfers show page below */

#profile-show-main {
  display: grid;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#profile-show-img {
  border: 2px solid darkgreen;
  border-radius: 20%;
  position: fixed;
}

#average-score {
  position: fixed;
  margin-left: 20%;
  margin-top: 8%;
}

/* Styling for golfers show page above */

/* Mobile responsiveness below */
/* Mobile responsivness primarly is needed in the courses index page */

@media only screen and (max-width: 1400px) {
  
  .course-container {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 550px) {
  #nav-logged-in {
    display: none;
  }

  .fas {
    display: none;
  }

  .nav-names {
    font-size: x-small;
  }

  #welcome-main-message {
    font-size: 3.5rem;
  }

  #golf_cart {
    width: 80%;
  }
}